body
{
    background-image: url(6k.jpg);
    background-size: 100% 750px;
b
}
header
{
	text-align: center;
	color: #FFFFFF;
    font-family: 'Wallpoet', cursive;
    background-color:#0404B4;
	height: 70px;
}
img 
{
    width:100%;
    max-width:600px;
}
video
{
	width:100%;
    max-width:640px;
	}